<!DOCTYPE html>
<html>
<head>
    <title>自由時報分析平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body background="/static/bgground.jpg" ><font face="DFKai-sb">
<div class="container">
        <div class="row">
            {%include 'navbar.html'%}
            <div class="col-lg-12">
            <center>
            <!-- 新聞類別選單------------------------------>
            <div class="col-lg-13">
                <div class="card">                  

                    <div class="card-body"  style="background-color:#FFFFCE;">

                        <div class="col-lg-12">
                            <center>
                             <h1><font color="#005AB5"><b>首頁</font></h1><p>
                             <font color="#005AB5">同樣是從報紙起步的自由時報，其實也和其他競爭對手一樣有屬於他<p>
                             們自己的新聞網站，但遇到熱門議題時卻沒有像其他新聞網一樣常常<p>
                             被拿來做分享或關注，因此，我們想透過爬取該網站來了解是否有與<p>
                             其他新聞網不同的地方，也能更進一步的了解其新聞報導的方向～～<p></font><font color="#CE0000">C107118106沈育弘　C107118151黃仲偉</font></b>
                            </center>
                        </div>                        
                        
                    </div>
                    <!--card body-->
                </div>
                <!--column-->
            </div><!-- 區塊結束 -->
            </center>
            </div>
        </div>
</div>

</body>
</html>